.launch {
  padding-top: 86px;
  background: #f0f0f0;
  overflow: hidden;
  min-height: calc(100vh - 86px);
}
.launch .header {
  background: #fff;
  padding: 60px 200px 30px 200px;
}
.launch .header .title {
  margin: 0;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 800;
}
.launch .header .desc {
  margin: 4px 0 0 0;
  line-height: 2;
  font-size: 20px;
}
.launch .header :global .ant-input {
  height: 55px;
}
.launch .header :global .ant-input:focus,
.launch .header :global .ant-input:hover {
  border-color: #9747ff;
}
.launch .header .tag_list {
  display: flex;
}
.launch .header .tag_list .tag {
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.4;
  background: #9747ff;
  border-radius: 50px;
  color: #fff;
  margin-left: 8px;
  margin-top: 8px;
}
.launch .header .tag_list .tag:first-child {
  margin-left: 0;
}
.launch .header .search {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
.launch .header .search :global .ant-select {
  width: 152px;
  height: 40px;
  margin-left: 18px;
}
.launch .header .search :global .ant-select:first-child {
  margin-left: 0;
}
.launch .header .search :global .ant-select:focus .ant-select-selector,
.launch .header .search :global .ant-select:hover .ant-select-selector {
  border-color: #9747ff !important;
}
.launch .content {
  padding: 0 200px;
}
.launch .content .launch_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.launch .content .launch_list .launch_item {
  display: flex;
  background: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 17px 30px;
  margin-top: 17px;
  cursor: pointer;
  transition: all 0.2s;
  box-sizing: border-box;
}
.launch .content .launch_list .launch_item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}
.launch .content .launch_list .launch_item:first-child {
  margin-top: 0;
}
.launch .content .launch_list .launch_item .idx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.launch .content .launch_list .launch_item .idx .icon {
  display: block;
  width: 34px;
  height: 34px;
  background: url("../../images/arrow-up-circle.svg") 0 0 no-repeat;
  background-size: cover;
}
.launch .content .launch_list .launch_item .idx .text {
  font-size: 20px;
  line-height: 1.2;
  display: block;
  padding-top: 6px;
}
.launch .content .launch_list .launch_item .picture {
  padding-left: 20px;
  padding-right: 12px;
  display: flex;
  align-items: center;
}
.launch .content .launch_list .launch_item .picture img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}
.launch .content .launch_list .launch_item .info {
  width: calc(100% - 174px);
}
.launch .content .launch_list .launch_item .info .title,
.launch .content .launch_list .launch_item .info .desc {
  margin: 0;
  font-size: 25px;
  line-height: 40px;
  font-weight: 800;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.launch .content .launch_list .launch_item .info .desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  opacity: 0.8;
}
.launch .content .launch_list .launch_item .user_info {
  display: flex;
  align-items: center;
  height: 24px;
}
.launch .content .launch_list .launch_item .user_info .user {
  display: flex;
}
.launch .content .launch_list .launch_item .user_info img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.launch .content .launch_list .launch_item .user_info .wrap {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.launch .content .launch_list .launch_item .user_info .wrap .name,
.launch .content .launch_list .launch_item .user_info .wrap .tie,
.launch .content .launch_list .launch_item .user_info .wrap .time {
  max-width: 160px;
  padding-left: 9px;
  color: #000;
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.8;
}
.launch .content .launch_list .launch_item .user_info .tags {
  padding-left: 24px;
  display: flex;
}
.launch .content .launch_list .launch_item .user_info .tags .tag {
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.4;
  background: #9747ff;
  border-radius: 50px;
  color: #fff;
  margin-left: 8px;
}
.launch .content .launch_list .launch_item .user_info .tags .tag:first-child {
  margin-left: 0;
}
@media (max-width: 1420px) {
  .launch {
    padding-top: 86px;
  }
  .launch .header {
    background: #fff;
    padding: 60px 56px 30px 56px;
  }
  .launch .header .tag_list {
    display: flex;
    margin-top: 14px;
  }
  .launch .content {
    padding: 0 56px;
  }
  .launch .content .launch_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .launch .content .launch_list .launch_item {
    border-radius: 8px;
    width: 100%;
    padding: 17px 30px;
    margin-top: 17px;
  }
}
@media (max-width: 960px) {
  .launch {
    padding-top: 70px;
  }
  .launch .header {
    background: #fff;
    padding: 30px 24px;
  }
  .launch .header .tag_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
  }
  .launch .header .search {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .launch .header .search .left {
    width: 100%;
  }
  .launch .header .search .left :global .ant-select {
    width: calc(100% / 2 - 10px);
  }
  .launch .header .search .sort_wrap {
    justify-content: space-between;
    margin-top: 12px;
    width: 100%;
  }
  .launch .header .search .sort_wrap :global .ant-select {
    width: calc(100% - 76px);
  }
  .launch .content {
    padding: 0 24px;
  }
  .launch .content .launch_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .launch .content .launch_list .launch_item {
    border-radius: 8px;
    width: 100%;
    padding: 17px 30px;
    margin-top: 17px;
  }
  .launch .content .launch_list .launch_item .idx {
    display: none;
  }
  .launch .content .launch_list .launch_item .picture {
    align-items: flex-start;
    padding-left: 0;
  }
  .launch .content .launch_list .launch_item .picture img {
    width: 68px;
    height: 68px;
  }
  .launch .content .launch_list .launch_item .info {
    width: calc(100% - 88px);
  }
  .launch .content .launch_list .launch_item .info .user_info {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .launch .content .launch_list .launch_item .info .user_info .user {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .launch .content .launch_list .launch_item .info .user_info .name,
  .launch .content .launch_list .launch_item .info .user_info .tie,
  .launch .content .launch_list .launch_item .info .user_info .time {
    padding-left: 9px;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
  }
  .launch .content .launch_list .launch_item .info .user_info .tie,
  .launch .content .launch_list .launch_item .info .user_info .time {
    max-width: calc(100% / 2);
    width: 100%;
  }
  .launch .content .launch_list .launch_item .info .user_info .tags {
    padding-left: 0;
    flex-wrap: wrap;
  }
  .launch .content .launch_list .launch_item .info .user_info .tags .tag {
    margin-top: 10px;
  }
}
