.compare {
  padding-top: 86px;
  background: #f0f0f0;
  overflow: hidden;
  height: calc(100vh - 86px);

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px 200px 24px 200px;
    margin-right: 20px;

    .title {
      margin: 0 0 12px 0;
      width: calc(100% - 170px);
      text-align: left;
      font-size: 24px;
      line-height: 1.5;
    }

    .list {
      width: calc(100% - 170px);
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 160px;
        border-radius: 8px;
        background: #fff;

        &.two {
          width: calc((100% / 2) - 8px);
        }

        &.three {
          width: calc((100% / 3) - 8px);
        }

        img {
          width: 140px;
          height: 40px;
        }

        .btn {
          margin-top: 12px;
          width: 106px;
          height: 28px;
          background: #9747ff;
          border: none;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .content {
    padding: 18px 200px 0 200px;
    display: flex;
    height: calc(100vh - 400px);
    overflow: hidden;

    .left {
      width: 126px;
      margin-right: 24px;

      .select_wrap {
        display: none;
      }

      .menu_list {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: right;

        &::after {
          content: "";
          position: absolute;
          width: 1px;
          background: #9747ff;
          height: 100%;
          top: 0;
          right: 0;
        }

        .menu_item {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          cursor: pointer;
          height: 27px;
          font-size: 14px;
          margin-top: 13px;
          padding-right: 12px;
          color: #000;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;

          &:first-child {
            margin-top: 0;
          }

          &.active {
            background: #9747ff;
            color: #fff;
          }
        }
      }
    }

    .right {
      width: calc(100% - 110px);
      height: 100%;
      overflow-y: scroll;

      .wrap {
        margin-top: 16px;
        padding: 20px;
        border-radius: 8px;

        .title {
          margin: 0;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 700;
        }

        .list {
          padding-top: 5px;
          display: flex;
          justify-content: space-between;

          .item {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            background: #fff;
            padding: 15px 36px 30px 20px;
            box-sizing: border-box;

            &.two {
              width: calc((100% / 2) - 8px);
            }

            &.three {
              width: calc((100% / 3) - 8px);
            }

            .desc {
              margin: 0;
            }

            .box {
              list-style: none;
              padding-top: 24px;
              &:first-child {
                padding-top: 0;
              }

              .box_list {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                list-style: none;

                .box_item {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                  font-size: 14px;
                  line-height: 24px;

                  &.nocheck {
                    color: #c5c5c5;

                    .icon {
                      display: block;
                      width: 16px;
                      height: 16px;
                      background: url(../../../images/close1.svg) 0 0 no-repeat;
                      background-size: cover;
                      margin-right: 4px;
                    }
                  }

                  span {
                    display: block;
                    max-width: 60%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }

                  .icon {
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url(../../../images/check.svg) 0 0 no-repeat;
                    background-size: cover;
                  }
                }
              }
            }

            .pricing_top {
              display: flex;
              flex-direction: column;
              align-items: center;

              .name,
              .text,
              .price {
                margin: 0;
              }

              .name {
                font-size: 14px;
                line-height: 24px;
              }

              .price {
                font-size: 50px;
                line-height: 1.2;
                font-weight: 800;

                &::before {
                  content: "$";
                  font-size: 16px;
                }
              }

              .text {
                font-size: 14px;
                line-height: 24px;
                color: #c5c5c5;
              }
            }

            .btn {
              margin-top: 24px;
              width: 100%;
              height: 30px;
              border-radius: 6px;
              border: 1px solid #9747ff;
              box-sizing: border-box;
              color: #9747ff;
              background: #fff;
              cursor: pointer;

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 1420px) {
  .compare {
    padding-top: 86px;
    background: #f0f0f0;
    overflow: hidden;
    height: calc(100vh - 86px);

    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 16px 56px 24px 56px;
      margin-right: 20px;

      .title {
        width: 100%;
        text-align: left;
        font-size: 24px;
        line-height: 1.5;
      }

      .list {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .item {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: 160px;
          border-radius: 8px;
          background: #fff;

          &.two {
            width: calc((100% / 2) - 8px);
          }

          &.three {
            width: calc((100% / 3) - 8px);
          }

          img {
            width: 140px;
            height: 40px;
          }

          .btn {
            margin-top: 12px;
            width: 106px;
            height: 28px;
            background: #9747ff;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .content {
      padding: 18px 56px 0 56px;
      display: flex;
      height: calc(100vh - 400px);
      overflow: hidden;

      .left {
        width: 126px;
        margin-right: 24px;

        .select_wrap {
          display: none;
        }

        .menu_list {
          position: relative;
          display: flex;
          flex-direction: column;
          text-align: right;

          &::after {
            content: "";
            position: absolute;
            width: 1px;
            background: #9747ff;
            height: 100%;
            top: 0;
            right: 0;
          }

          .menu_item {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            height: 27px;
            font-size: 14px;
            margin-top: 13px;
            padding-right: 12px;
            color: #000;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;

            &:first-child {
              margin-top: 0;
            }

            &.active {
              background: #9747ff;
              color: #fff;
            }
          }
        }
      }

      .right {
        width: calc(100% - 110px);
        height: 100%;
        overflow-y: scroll;

        .wrap {
          margin-top: 16px;
          padding: 20px;
          border-radius: 8px;

          .title {
            margin: 0;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
          }

          .list {
            padding-top: 5px;
            display: flex;
            justify-content: space-between;

            .item {
              display: flex;
              flex-direction: column;
              border-radius: 8px;
              background: #fff;
              padding: 15px 36px 30px 20px;
              box-sizing: border-box;

              &.two {
                width: calc((100% / 2) - 8px);
              }

              &.three {
                width: calc((100% / 3) - 8px);
              }

              .desc {
                margin: 0;
              }

              .box {
                list-style: none;
                padding-top: 24px;
                &:first-child {
                  padding-top: 0;
                }

                .box_list {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  margin: 0;
                  list-style: none;

                  .box_item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    font-size: 14px;
                    line-height: 24px;

                    &.nocheck {
                      color: #c5c5c5;

                      .icon {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background: url(../../../images/close1.svg) 0 0
                          no-repeat;
                        background-size: cover;
                        margin-right: 4px;
                      }
                    }

                    span {
                      display: block;
                      max-width: 60%;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }

                    .icon {
                      display: block;
                      width: 20px;
                      height: 20px;
                      background: url(../../../images/check.svg) 0 0 no-repeat;
                      background-size: cover;
                    }
                  }
                }
              }

              .pricing_top {
                display: flex;
                flex-direction: column;
                align-items: center;

                .name,
                .text,
                .price {
                  margin: 0;
                }

                .name {
                  font-size: 14px;
                  line-height: 24px;
                }

                .price {
                  font-size: 50px;
                  line-height: 1.2;
                  font-weight: 800;

                  &::before {
                    content: "$";
                    font-size: 16px;
                  }
                }

                .text {
                  font-size: 14px;
                  line-height: 24px;
                  color: #c5c5c5;
                }
              }

              .btn {
                margin-top: 24px;
                width: 100%;
                height: 30px;
                border-radius: 6px;
                border: 1px solid #9747ff;
                box-sizing: border-box;
                color: #9747ff;
                background: #fff;
                cursor: pointer;

                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .compare {
    padding-top: 70px;
    height: calc(100vh - 70px);

    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 16px 24px;
      margin-right: 0;

      .title {
        width: 100%;
      }

      .list {
        width: 100%;

        .item {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: 160px;
          border-radius: 8px;
          background: #fff;

          &.two {
            width: calc((100% / 2) - 8px);
          }

          &.three {
            width: calc((100% / 3) - 8px);
          }

          img {
            width: 140px;
            height: 40px;
          }

          .btn {
            margin-top: 12px;
            width: 106px;
            height: 28px;
            background: #9747ff;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .content {
      padding: 18px 24px 0 24px;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 400px);

      .left {
        width: 100%;
        margin-right: 24px;
        .menu_list {
          display: none;
        }

        .select_wrap {
          display: block;
          margin-bottom: 24px;
          :global {
            .ant-select {
              width: 100%;
              height: 40px;
              box-sizing: border-box;
              background: transparent;
              color: #9747ff;
              font-size: 24px;
              outline: none;
              border: none;
              cursor: pointer;
              border: none;
              .ant-select-selector {
                border-color: #9747ff !important;
              }
              input {
                border-radius: 24px;
                width: 100%;
                height: 100%;
              }
              &:focus,
              &:hover {
                .ant-select-selector {
                  border-color: #9747ff !important;
                }
              }
            }
          }
        }
      }

      .right {
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        .wrap {
          margin-top: 16px;
          padding: 20px;
          border-radius: 8px;

          .title {
            margin: 0;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
          }

          .list {
            padding-top: 5px;
            display: flex;
            justify-content: space-between;

            .item {
              display: flex;
              flex-direction: column;
              border-radius: 8px;
              background: #fff;
              padding: 15px 36px 30px 20px;
              box-sizing: border-box;

              &.two {
                width: calc((100% / 2) - 8px);
              }

              &.three {
                width: calc((100% / 3) - 8px);
              }

              .desc {
                margin: 0;
              }

              .box {
                list-style: none;
                padding-top: 24px;
                &:first-child {
                  padding-top: 0;
                }

                .box_list {
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  margin: 0;
                  list-style: none;

                  .box_item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    font-size: 14px;
                    line-height: 24px;

                    &.nocheck {
                      color: #c5c5c5;

                      .icon {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background: url(../../../images/close1.svg) 0 0
                          no-repeat;
                        background-size: cover;
                        margin-right: 4px;
                      }
                    }

                    span {
                      display: block;
                      max-width: 60%;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }

                    .icon {
                      display: block;
                      width: 20px;
                      height: 20px;
                      background: url(../../../images/check.svg) 0 0 no-repeat;
                      background-size: cover;
                    }
                  }
                }
              }

              .pricing_top {
                display: flex;
                flex-direction: column;
                align-items: center;

                .name,
                .text,
                .price {
                  margin: 0;
                }

                .name {
                  font-size: 14px;
                  line-height: 24px;
                }

                .price {
                  font-size: 50px;
                  line-height: 1.2;
                  font-weight: 800;

                  &::before {
                    content: "$";
                    font-size: 16px;
                  }
                }

                .text {
                  font-size: 14px;
                  line-height: 24px;
                  color: #c5c5c5;
                }
              }

              .btn {
                margin-top: 24px;
                width: 100%;
                height: 30px;
                border-radius: 6px;
                border: 1px solid #9747ff;
                box-sizing: border-box;
                color: #9747ff;
                background: #fff;
                cursor: pointer;

                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}




@media (max-width: 768px) {
  .compare {
    padding-top: 70px;
    height: calc(100vh - 70px);
    .header {
      padding: 16px 24px;
      margin-right: 0;

      .title {
        width: 100%;
      }

      .list {
        width: 100%;
        flex-direction: column;
        .item {
          padding: 6px 0;
          display: flex;
          margin-top: 12px;
          height: auto;
          flex-direction: row;
          width: 100% !important;
          &:first-child {
            margin-top: 0;
          }
          .btn {
            margin: 0 0 0 24px;
          }
        }
      }
    }

    .content {
      padding: 18px 24px 0 24px;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 364px);

      .left {
        width: 100%;
        margin-right: 24px;
        .menu_list {
          display: none;
        }

        .select_wrap {
          display: block;
          margin-bottom: 24px;
          :global {
            .ant-select {
              width: 100%;
              height: 40px;
              box-sizing: border-box;
              background: transparent;
              color: #9747ff;
              font-size: 24px;
              outline: none;
              border: none;
              cursor: pointer;
              border: none;
              .ant-select-selector {
                border-color: #9747ff !important;
              }
              input {
                border-radius: 24px;
                width: 100%;
                height: 100%;
              }
              &:focus,
              &:hover {
                .ant-select-selector {
                  border-color: #9747ff !important;
                }
              }
            }
          }
        }
      }

      .right {
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        .wrap {
          margin-top: 16px;
          padding: 0;
          border-radius: 8px;

          .title {
            margin: 0;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
          }

          .list {
            padding-top: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .item {
              display: flex;
              flex-direction: column;
              border-radius: 8px;
              background: #fff;
              padding: 15px 36px 30px 20px;
              box-sizing: border-box;
              margin-top: 16px;
              &:first-child {
                margin-top: 0;
              }

              &.two {
                width: 100%;
              }

              &.three {
                width: 100%;
              }

              .desc {
                margin: 0;
              }
            }
          }

         
        }
      }
    }
  }
}
