.about {
  display: flex;
  justify-content: space-between;
  padding: 143px 50px 0 200px;
  overflow: hidden;
}
.about .left {
  width: 45%;
}
.about .left .title,
.about .left .text {
  margin: 0;
  color: #000;
  font-size: 35px;
  line-height: 42px;
}
.about .left .text {
  font-size: 20px;
  line-height: 1.6;
  padding-top: 36px;
}
.about .left .text:first-child {
  padding-top: 0;
}
.about .right {
  width: 714px;
  height: 630px;
  background: url(../../images/about.png) 0 0 no-repeat;
  background-size: cover;
}
@media (max-width: 1420px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 143px 0 0 56px;
    overflow: hidden;
  }
  .about .left {
    width: 45%;
  }
}
@media (max-width: 1120px) {
  .about {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 120px 24px 0 24px;
    overflow: hidden;
  }
  .about .left {
    width: 100%;
  }
  .about .right {
    display: none;
  }
}
