.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 300px;
}
.list::after {
  content: "";
  width: calc((100% / 3) - 16px);
  height: 1px;
}
.list .list_item {
  display: flex;
  width: calc((100% / 3) - 64px);
  margin-bottom: 24px;
  background: #fff;
  border-radius: 16px;
  height: 130px;
  padding: 24px;
  cursor: pointer;
  transition: all 0.2s;
}
.list .list_item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}
.list .list_item .left img {
  width: 36px;
  height: 36px;
}
.list .list_item .right {
  padding-left: 12px;
}
.list .list_item .right .title,
.list .list_item .right .desc {
  margin: 0;
  color: #000;
}
.list .list_item .right .title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list .list_item .right .desc {
  margin-top: 6px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list .noData {
  height: 200px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.list .noData p {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 960px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .list .list_item {
    display: flex;
    width: calc((100% / 2) - 56px);
    margin-bottom: 16px;
    border-radius: 12px;
  }
}
@media (max-width: 599px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .list .list_item {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 12px;
  }
}
