.noData {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noData .icon {
  display: block;
  width: 84px;
  height: 84px;
  background: url(../../images/nodata.svg) 0 0 no-repeat;
  background-size: contain;
}
.noData span {
  font-size: 20px;
  color: #666;
}
