.main {
  padding-top: 86px;
  overflow: hidden;
}
.main .searchPanel {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 424px;
  padding: 89px 56px 0 200px;
}
.main .searchPanel .searchPanel__input {
  width: 50%;
}
.main .searchPanel .searchPanel__input .search__content .title {
  color: #9747ff;
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}
.main .searchPanel .searchPanel__input .search__content .input_wrap {
  position: relative;
  height: 50px;
  margin-top: 46px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 24px;
}
.main .searchPanel .searchPanel__input .search__content .input_wrap input {
  padding-left: 20px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #000000;
  font-size: 18px;
  box-sizing: border-box;
  background: transparent;
}
.main .searchPanel .searchPanel__input .search__content .input_wrap .search {
  position: absolute;
  right: 8px;
  top: 50%;
  display: block;
  width: 36px;
  height: 36px;
  background: url("../../images/search.svg") 0 0 no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  cursor: pointer;
}
.main .searchPanel .searchPanel__input .search__content .input_wrap .search:hover {
  opacity: 0.7;
}
.main .searchPanel .searchPanel__input .button__content {
  padding-top: 40px;
}
.main .searchPanel .searchPanel__input .button__content .title {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap {
  margin-top: 6px;
  position: relative;
  height: 60px;
  border: 1px solid #9747ff;
  box-sizing: border-box;
  border-radius: 24px;
  cursor: pointer;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap:hover {
  opacity: 0.8;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap :global .ant-select {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  color: #9747ff;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  border: none;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap :global .ant-select .ant-select-selector {
  border: none;
  background: transparent;
  box-shadow: none;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap :global .ant-select .ant-select-selector .ant-select-selection-item {
  text-align: center;
  color: #9747ff;
  font-size: 24px;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap :global .ant-select input {
  border-radius: 24px;
  width: 100%;
  height: 100%;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap .btn {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  color: #9747ff;
  font-size: 24px;
  outline: none;
  border: none;
  cursor: pointer;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap .arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  display: block;
  width: 42px;
  height: 42px;
  background: url("../../images/arrow.svg") 0 0 no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  cursor: pointer;
}
.main .searchPanel .searchPanel__input .button__content .button_wrap .arrow:hover {
  opacity: 0.7;
}
.main .searchPanel .searchPanel__bg {
  position: relative;
  width: 35%;
  height: 100%;
  background: url("../../images/search_bg.png") 0 0 no-repeat;
  background-size: contain;
}
.main .searchPanel .searchPanel__bg .product_info {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #9747ff;
  border-radius: 8px;
  width: 306px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px 0;
}
.main .searchPanel .searchPanel__bg .product_info .title {
  margin: 0;
  font-size: 70px;
  color: #fff;
}
.main .searchPanel .searchPanel__bg .product_info .desc {
  margin: 0;
  font-size: 20px;
  color: #fff;
}
.main .softwore {
  position: relative;
  z-index: 1;
}
.main .softwore .header {
  width: 100%;
  height: 52px;
  background: #000000;
}
.main .softwore .header .softwore_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 0 90px;
  padding: 0;
}
.main .softwore .header .softwore_list .softwore_list_item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.main .softwore .header .softwore_list .softwore_list_item.active {
  color: #9747ff;
  box-sizing: border-box;
  border-bottom: 1px solid #9747ff;
}
.main .softwore .header .select_wrap {
  display: none;
}
.main .softwore .content {
  background: #f0f0f0;
  padding: 50px 200px;
}
.main .softwore .more {
  width: 198px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9747ff;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
}
.main .softwore .more:hover {
  opacity: 0.8;
}
@media (max-width: 1420px) {
  .main {
    padding-top: 86px;
    overflow: hidden;
  }
  .main .searchPanel {
    position: relative;
    display: flex;
    height: 424px;
    padding: 89px 24px 0 56px;
  }
  .main .searchPanel .searchPanel__input {
    width: 50%;
  }
  .main .searchPanel .searchPanel__input .search__content .title {
    color: #9747ff;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
  }
  .main .searchPanel .searchPanel__input .search__content .input_wrap {
    height: 46px;
    margin-top: 36px;
  }
  .main .searchPanel .searchPanel__input .search__content .input_wrap .search {
    width: 32px;
    height: 32px;
  }
  .main .searchPanel .searchPanel__input .button__content {
    padding-top: 40px;
  }
  .main .searchPanel .searchPanel__input .button__content .title {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }
  .main .searchPanel .searchPanel__input .button__content .button_wrap {
    height: 50px;
  }
  .main .searchPanel .searchPanel__input .button__content .button_wrap .arrow {
    width: 36px;
    height: 36px;
  }
  .main .searchPanel .searchPanel__bg {
    width: 35%;
    background-size: contain;
  }
  .main .searchPanel .searchPanel__bg .product_info {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(50%, -50%);
    background: #9747ff;
    border-radius: 8px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px 0;
  }
  .main .searchPanel .searchPanel__bg .product_info .title {
    margin: 0;
    font-size: 56px;
    color: #fff;
  }
  .main .searchPanel .searchPanel__bg .product_info .desc {
    margin: 0;
    font-size: 16px;
    color: #fff;
  }
  .main .softwore {
    position: relative;
    z-index: 1;
  }
  .main .softwore .header {
    width: 100%;
    height: 52px;
    background: #000000;
  }
  .main .softwore .header .select_wrap {
    display: none;
  }
  .main .softwore .header .softwore_list {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 56px;
    padding: 0;
  }
  .main .softwore .header .softwore_list .softwore_list_item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
  }
  .main .softwore .header .softwore_list .softwore_list_item.active {
    color: #9747ff;
    box-sizing: border-box;
    border-bottom: 1px solid #9747ff;
  }
  .main .softwore .content {
    background: #f0f0f0;
    padding: 50px 56px;
  }
}
@media (max-width: 960px) {
  .main {
    padding-top: 86px;
    overflow: hidden;
  }
  .main .searchPanel {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 360px;
    padding: 80px 24px 0 24px;
  }
  .main .searchPanel .searchPanel__input {
    width: 100%;
  }
  .main .searchPanel .searchPanel__input .search__content .title {
    color: #9747ff;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
  }
  .main .searchPanel .searchPanel__input .search__content .input_wrap {
    height: 46px;
    margin-top: 24px;
  }
  .main .searchPanel .searchPanel__input .search__content .input_wrap .search {
    width: 32px;
    height: 32px;
  }
  .main .searchPanel .searchPanel__input .button__content {
    padding-top: 32px;
  }
  .main .searchPanel .searchPanel__input .button__content .title {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }
  .main .searchPanel .searchPanel__input .button__content .button_wrap {
    height: 50px;
  }
  .main .searchPanel .searchPanel__input .button__content .button_wrap .arrow {
    width: 36px;
    height: 36px;
  }
  .main .searchPanel .searchPanel__bg {
    display: none;
    right: 56px;
    top: 36px;
    width: 30%;
  }
  .main .softwore {
    position: relative;
    z-index: 1;
  }
  .main .softwore .header {
    width: 100%;
    height: 52px;
    background: #000000;
  }
  .main .softwore .header .select_wrap {
    display: none;
  }
  .main .softwore .header .softwore_list {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 24px;
    padding: 0;
  }
  .main .softwore .header .softwore_list .softwore_list_item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
  }
  .main .softwore .header .softwore_list .softwore_list_item.active {
    color: #9747ff;
    box-sizing: border-box;
    border-bottom: 1px solid #9747ff;
  }
  .main .softwore .content {
    background: #f0f0f0;
    padding: 24px;
  }
}
@media (max-width: 599px) {
  .main {
    padding-top: 86px;
    overflow: hidden;
  }
  .main .searchPanel {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 36px 24px 32px 24px;
  }
  .main .searchPanel .searchPanel__input {
    width: 100%;
  }
  .main .searchPanel .searchPanel__input .search__content .title {
    color: #9747ff;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 800;
    margin: 0;
  }
  .main .searchPanel .searchPanel__input .search__content .input_wrap {
    height: 46px;
    margin-top: 24px;
  }
  .main .searchPanel .searchPanel__input .search__content .input_wrap .search {
    width: 32px;
    height: 32px;
  }
  .main .searchPanel .searchPanel__input .button__content {
    padding-top: 32px;
  }
  .main .searchPanel .searchPanel__input .button__content .title {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }
  .main .searchPanel .searchPanel__input .button__content .button_wrap {
    height: 50px;
  }
  .main .searchPanel .searchPanel__input .button__content .button_wrap .arrow {
    width: 32px;
    height: 32px;
  }
  .main .searchPanel .searchPanel__bg {
    display: none;
    right: 56px;
    top: 36px;
    width: 30%;
  }
  .main .softwore {
    position: relative;
    z-index: 1;
  }
  .main .softwore .header {
    display: flex;
    align-items: center;
    padding: 0 24px 16px 24px;
    background: #fff;
  }
  .main .softwore .header .softwore_list {
    display: none;
  }
  .main .softwore .header .select_wrap {
    width: calc(100% - 48px);
    display: block;
  }
  .main .softwore .header .select_wrap :global .ant-select {
    width: 100%;
    height: 44px;
  }
  .main .softwore .header .select_wrap :global .ant-select .ant-select-selector {
    border-color: #9747ff !important;
    background: transparent;
  }
  .main .softwore .header .select_wrap :global .ant-select:focus .ant-select-selector,
  .main .softwore .header .select_wrap :global .ant-select:hover .ant-select-selector {
    border-color: #9747ff !important;
  }
  .main .softwore .header .select_wrap :global .ant-select input {
    width: 100%;
    height: 44px;
    padding: 0 12px;
    padding-left: 80px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid rgba(99, 99, 99, 0.24);
    color: #062030;
    font-size: 14px;
    font-weight: 400;
    outline: none;
  }
  .main .softwore .content {
    background: #f0f0f0;
    padding: 24px;
  }
  .main .softwore .content .more {
    margin-top: 16px;
    height: 36px;
    width: 100%;
  }
}
