.detail {
  padding-top: 86px;
  background: #f0f0f0;
  overflow: hidden;
  min-height: calc(100vh - 86px);
}
.detail .header {
  padding: 56px 200px 40px 200px;
  background: #fff;
}
.detail .header .title,
.detail .header .desc {
  margin: 0;
}
.detail .header .title {
  font-size: 50px;
  line-height: 1.2;
  color: #9747ff;
}
.detail .header .desc {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
}
.detail .header .info {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}
.detail .header .info .left {
  display: flex;
  align-items: center;
}
.detail .header .info .left .name {
  display: block;
  margin-left: 10px;
  max-width: 200px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 40px;
  color: #333333;
}
.detail .header .info .left .time {
  display: block;
  margin-left: 36px;
  white-space: nowrap;
  font-size: 14px;
  color: #999999;
}
.detail .header .info .right a {
  margin-left: 12px;
}
.detail .header .info .right a:first-child {
  margin-left: 0;
}
.detail .header .site_info {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}
.detail .header .site_info .site {
  font-size: 14px;
  line-height: 1.2;
  color: #9747ff;
}
.detail .header .site_info .desc {
  color: #999999;
  font-size: 14px;
  line-height: 1.2;
}
.detail .content {
  padding: 40px 200px;
}
.detail .content .text {
  font-size: 20px;
  line-height: 2;
  margin: 0;
  padding-top: 4px;
  color: #222;
}
.detail .content .text.index {
  padding-left: 12px;
}
.detail .content .title,
.detail .content .sub_title {
  font-size: 20px;
  line-height: 2;
  font-size: 800;
  margin: 0;
  padding-top: 4px;
}
.detail .content .sub_title {
  font-weight: 600;
}
.detail .content .btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  font-size: 16px;
  line-height: 2;
  color: #9747ff;
}
